<form #formulario="ngForm">
    <h3> Datos personales</h3>
    <label> Nombre completo:</label>
    <input type="text" name="nombre" placeholder="" [(ngModel)]="formData.nombre">
    <label> Numero de documento (sin puntos, ni signos):</label>
    <input type="number" name="documento" placeholder="" [(ngModel)]="formData.documento">
    <input type="date" name="email" placeholder="email" [(ngModel)]="formData.date">
    <label> Email:</label>
    <input type="email" name="email" placeholder="email" [(ngModel)]="formData.email">
    <label> Contraseña:</label>
    <input type="password" name="clave" placeholder="contraseña" [(ngModel)]="formData.clave">
    <label for="TipoContrato">Actvidad laboral:</label>
    <select name="Tcontrato" [(ngModel)]="formData.tipoContrato" id="laboral">
      <option value="arrendada">Empleado</option>
      <option value="familiar">Independiente</option>
    </select>
    <label for="TipoVivienda">Tipo de vivienda:</label>
    <select name="tipvivienda" [(ngModel)]="formData.tipoVivienda" id="vivienda">
      <option value="arrendada">Alquilada</option>
      <option value="familiar">Familiar</option>
      <option value="propia">Propia</option>
    </select>
    <label> Cuanto paga:</label>
    <input type="number" name="arriendo" placeholder="" [(ngModel)]="formData.arriendo">
    <label for="transporte">Medio de transporte:</label>
    <select name="medioTransporte" [(ngModel)]="formData.mTransporte" id="transporte">
      <option value="bicicleta">Bicicleta</option>
      <option value="bus">Bus</option>
      <option value="carro">Carro</option>
      <option value="motocicleta">Motocicleta</option>
    </select>
    <h3> Datos financieros</h3>
    <label>Ingrese su salario mensual:</label>
    <input type="number" name="salario" placeholder="" [(ngModel)]="formData.salario">
    <label> Cuánto suman sus ingresos mensuales:</label>
    <input type="number" name="ingresos" placeholder="" [(ngModel)]="formData.ingresos">
    <label> Cuánto suman sus egresos mensuales:</label>
    <input type="number" name="Gmensuales" placeholder="" [(ngModel)]="formData.Gmensuales">
    <label> Cuánto suman sus gastos del hogar:</label>
    <input type="number" name="GHogar" placeholder="" [(ngModel)]="formData.GHogar">
    <label> Cuánto suman sus gastos financieros:</label>
    <input type="number" name="GFinancieros" placeholder="" [(ngModel)]="formData.GFinancieros">
    <label> ¿Cuantas personas dependende usted economicamente?:</label>
    <input type="number" name="ACargo" placeholder="" [(ngModel)]="formData.ACargo">
    <h3> Información del ahorro:</h3>
    <label> ¿Cual es su proposito con este ahorro?:</label>
    <input type="text" name="proposito" placeholder="" [(ngModel)]="formData.proposito">
    <label> ¿Cuánto es su expectativa de ahorro?:</label>
    <input type="number" name="ahorro" placeholder="" [(ngModel)]="formData.ahorro">
    <button type="submit" (click)="guardarCliente()">Guardar</button>
</form>