.container-footer {
    width: 100%;
    padding: 40px 0;
    background: #f7f7f7;
    margin-top: 40px;
}

.container-footer footer {
    max-width: 1200px;
    margin: auto;
}

.container-footer footer.logo {
    text-align: center;
}

.container-footer footer .logo img {
    width: 100px;
}

.container-footer footer .redesSociales {
    font-size: 20px;
    margin: 20px;
    background: #efef;
}